.home-page {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.earth {
  display: contents;
}

.ghost {
  opacity: 0.5;
}

.not-draggable {
  cursor: no-drop;
}
.list-group-item {
  cursor: move;
}
.home-page-left {
  position: absolute;
  z-index: 100;
  top: 8px;
  left: 20px;
  width: 38.625rem;
  overflow: auto;
  height: calc(100% - 8px);

  &:hover > .home-page-edit {
    opacity: 1;
  }
}

.home-page-edit {
  opacity: 0;
  position: fixed;
  bottom: 1.25rem;
  left: 16rem;
  transition: opacity 0.6s;
  &:hover {
    opacity: 1;
  }
}

.home-tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38.25rem;
  padding: 0.375rem 0.25rem;
  flex-wrap: wrap;

  .card-border-4 {
    border-radius: 1.25rem;
    border: 2px solid #ebebed;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(15px);
  }

  .card-border-6 {
    border-radius: 1.25rem;
    border: 2px solid rgba(255, 255, 255);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(15px);
  }
}
.home-tool-total-plant {
  width: 37.75rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.08);
  margin-bottom: 0.625rem;
}
.home-tool-small-card1 {
  width: 18.625rem;
  height: 10rem;
  background: rgba(255, 255, 255, 0.72);
  margin-bottom: 0.625rem;
}
.home-tool-small-card2 {
  width: 18.625rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.08);
  margin-bottom: 0.625rem;
}
.home-tool-note-card {
  width: 37.75rem;
  height: 10rem;
  background: rgba(255, 255, 255, 0.72);
  margin-bottom: 0.625rem;
}
.home-tool-weather-card {
  width: 37.75rem;
  height: 10rem;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 0.625rem;
}
.home-tool-plant-card {
  width: 37.75rem;
  height: 5rem;
  border-radius: 1.25rem;
  border: 2px solid rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  margin-bottom: 0.625rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}

.plant-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  padding: 0 1.25rem;
  .echarts-data {
    width: 8.5rem;
    height: 5rem;
    margin-right: 1rem;
  }
}
.company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  border: 2px solid #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 0.75rem;
}
.company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crad-plant-info-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.crad-plant-divider {
  height: 0.75rem;
}
